<% include ../../templates/header.ejs %>  
<div class="row">
  <div class="category-list col-xs-12">
    <% categories.forEach(function(cat) { %>
    <div class="category col-xs-12 col-sm-3">
      <a href="/produtos?categoria=<%= cat.name %>">
        <div class="category-button">
          <%= cat.name %>
        </div>
      </a>

    </div>
    <% }); %>

  </div>
</div>

<div class="row">
  <article id="product-content">
    <div class="productBox ">
      <h1 class="title-product-box text-center">Produtos</h1>
    </div>
    <div class="productList">
      <% products.forEach(function(prod) { %>
      <div class="product col-sm-4">
        <div class="img-box text-center">
          <img class="img-product" src="/resources/img/products/<%= prod.mainImage %>" />
        </div>
        <div class="info-box col-xs-12">
          <h2 class="title-product"><%= prod.name %></h2>
          <h3 class="price-product"><%= "R$"+prod.price+",00" %></h3>
        </div>
      </div>
      <% }); %>
    </div>

  </article>
</div>

<% include ../../templates/footer.ejs %>
