<% include ../../templates/header.ejs %>
<div class="row r-products">
  <div class="hidden-xs padding-sides category-list col-xs-12">
    <% categories.forEach(function(cat) { %>
    <div class="category col-xs-12 col-sm-3">
      <% if (ambiente) { %>

      <a href="/ambientes?categoria=<%= cat.name %>">
        <% } else {%>

      <a href="/produtos?categoria=<%= cat.name %>">
        <% } %>

        <div class="category-button">
          <%= cat.name %>
        </div>
      </a>

    </div>
    <% }); %>

  </div>
</div>

<div class="row">
  <article id="product-content">
    <div class="productBox ">
      <h1 class="title-product-box text-center">
        <% if (ambiente) { %>
        Ambientes
        <% } else { %>
        Produtos
        <% } %>
      </h1>
    </div>
<div class="visible-xs text-center productSelect">

      <select class="form-control text-center">
        <option class="text-center selectText"> Selecione a Categoria  </option>
        <% categories.forEach(function(cat) { %>
        <option value="<%= cat.name %>"><%= cat.name %></option>
        <% }); %>
      </select>

    </div>

      <h2 class="product-category text-center"><%= queryCategory %></h2>
    <div class="col-xs- 12 padding-sides productList destaques">
      <%
      products.forEach(function(prod) { 
      %>
      <a href="/produto/<%= prod.IdProduct %>">
        <div class="product col-sm-6 col-md-4">
          <div class="img-box text-center">
            <img class="img-product" src="/resources/img/products/<%= prod.mainImage %>" />
          </div>
          <div class="info-box col-xs-12">
            <h2 class="title-product"><%= prod.name %></h2>
            <% if (prod.price) { %>
            <h3 class="price-product"><%= "R$"+prod.price+",00" %></h3>
            <% } %>
          </div>
        </div>
      </a>
     
      
      <% }); %>


    </div>

  </article>
  <section class="col-xs-12 text-center">
      <% let tabs = Math.ceil(products.length / 10); 
          for(let i = 0; i < tabs; i++){ 
        
       if(!queryCategory) { %>
      <a href="/produtos?skip=<%= i %>"><%= i+1 %></a>
      <%} else { %>
      <a href="/produtos?categoria=<%= queryCategory %>&skip=<%= i %>"> <%= i+1 %> </a>
      
      <%} } %>
      </section>
</div>

<% include ../../templates/footer.ejs %>
