<% include   ../../templates/header.ejs %>
<input type="hidden" value="<%= sale.IdSale %>" id="_id"/>
<div class="container">
  <div class="row">
    <h1><%= sale.name || "Nova Promocao "%></h1>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 sales-form">
      <form action="/admin/sales/novo" id="sale-form" method="POST" enctype="multipart/form-data">
        <fieldset class="form-group">
          <label for"name">Nome</label>
          <input class="form-control" value="<%= sale.name %>" type="text" name="name" id="name" placeholder="Titulo da Promocao"/>
          <p class="validation" id="name-validation"></p>
        </fieldset>

        <fieldset class="form-group">
          <label for"Descricao">Descrição</label>
          <textarea class="form-control"type="textarea" name="description" id="description" 
                                                                           placeholder="Descricao"><%= sale.description %></textarea>

          <p  class="validation" id="description-validation"></p>

        </fieldset>



        <!-- LINK -->
        <fieldset class="form-group">
          <label for"name">Link</label>
          <input class="form-control" value="<%= sale.link%>" type="text" name="link" id="link" placeholder="link"/>
          <p class="validation" id="link-validation"></p>
        </fieldset>
        <!-- ACTIVE -->
        <fieldset class="form-group">
          <label for"name">Ativa</label>
          <input type="checkbox"
          <% if (sale.active) { %>
          checked
          <% } %>
          name="active" id="active" />
          <p class="validation" id="active-validation"></p>
        </fieldset>

        <!-- IMAGE -->
        <fieldset class="form-group">
          <label>Imagem </label>
          <input class="form-control" type="file" id="promo-image" name="image"/>
          <p class="validation" id="image-validation"></p>
        </fieldset>
        <% if (sale.image) { %>
        <fieldset class="form-group">
          <img class="img img-responsive" src="/resources/img/sales/<%= sale.image %>" />
        </fieldset>
        <% } %>



        <fieldset class="form-group">
          <button class="form-control btn btn-success">Salvar</button>
        </fieldset>
      </form>
      <a href="/admin/promocoes">
        <button class="form-control btn btn-default">
          Voltar
        </button>
      </a>
    </div>
  </div>
</div>

<div class="modal fade" id="imageModal">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span>&times</span></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-modal"/>
        </div>
      </div>

      <button data-dismiss="modal" type="button" class="btn btn-danger delete-button">Excluir</button>
    </div>
  </div>
</div>



<% include ../../templates/footer.ejs %>
